// Tips: 星火大模型API当前有Lite、Pro、Pro-128K、Max、Max-32K和4.0 Ultra六个版本，各版本独立计量tokens。

// 传输协议 ：ws(s),为提高安全性，强烈推荐wss

// Spark4.0 Ultra 请求地址，对应的domain参数为4.0Ultra：
// wss://spark-api.xf-yun.com/v4.0/chat

// Spark Max-32K请求地址，对应的domain参数为max-32k
// wss://spark-api.xf-yun.com/chat/max-32k

// Spark Max请求地址，对应的domain参数为generalv3.5
// wss://spark-api.xf-yun.com/v3.5/chat

// Spark Pro-128K请求地址，对应的domain参数为pro-128k：
//  wss://spark-api.xf-yun.com/chat/pro-128k

// Spark Pro请求地址，对应的domain参数为generalv3：
// wss://spark-api.xf-yun.com/v3.1/chat

// Spark Lite请求地址，对应的domain参数为lite：
// wss://spark-api.xf-yun.com/v1.1/chat

let config = {
  // http服务
  http_port: 80,
  // https服务
  https_port: 443,
  // 公众号配置
  token: "xxx",
  appid: 'xx',
  appsecret: 'xx',
  server_url: "xxx",
  // server_url: "http://www.xxx.xxx"
  // 星火配置
  spark_appid: "xx",
  spark_apisecret: "xx",
  spark_apikey: "xx",
  spark_domain: 'generalv3',// 看上面注释
  spark_hosturl: "wss://spark-api.xf-yun.com/v3.1/chat",//看上面注释
}
export default config